

.jumbo{
    background-image: url(../img/new_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 175px 0;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 4em;
}
.contain-to-grid{
    background: rgba(234, 234, 234, 0.8);
}
.top-bar{
    background: none;
}
.top-bar .name{
    font-weight: 500;
}
.top-bar .name h1 a {
    color: #1B4B94;
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
    background: none;
    
}

.top-bar-section li:not(.has-form) a:hover:not(.button){
    background: none;
    text-decoration: underline;
    color: #1a1a1a;
    
}

.top-bar-section ul li > a{
    color: #1B4B94;
    font-weight: bold;
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.row:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden;
    
}

section{
    padding-bottom: 150px;
}
#contact{
    background: #fff;
    padding-bottom: 30px;
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #fff;
    padding: 10px 0;
}

.copy p{
    color: #618DD0;
    margin-bottom: 0;
}

.copy a{
    color: #618DD0;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 175px;
}
#FAQ{
    background-color: #1B4B94;
    
        
}
#FAQ p{
    color: #fff;
    padding-top: 15px;
}
#FAQ h2,h4{
    color: #fff;
    text-align: center;
}

#FAQ h4{
    margin-bottom: 30px;
}

#FAQ img, #safety img{
    display: block;
    margin: 0 auto;
}

.f-topbar-fixed{
    padding-top: 0 !important;
}
.social a{
    padding: 0 5px !important;
    font-size: 1.5em !important;
}

button, .button{
    background-color: #0D2447;
    border-color: #0D2447;
}
button:hover, .button:hover{
    background-color: rgba(13, 36, 71, 0.5);
    border-color: #0D2447;
}
h1, h2, h3, h5, h6, a {
    color: #2565C7;
}
a:hover{
    color: #000;
}

.top-bar .toggle-topbar.menu-icon a span:after {
    box-shadow: 0 0 0 1px #0D2447, 0 7px 0 1px #0D2447, 0 14px 0 1px #0D2447;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 30px 0 15px;
    
}
.top-bar .toggle-topbar.menu-icon {
    background: #fff;
    margin-right: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .jumbo{
    margin-bottom: 0;
    padding: 50px 0 10px;
    
}
    .jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2em;
}
}